/* SERVICES SECTION */
.page-wrapper{
    position: relative;
    top: var(--relative-top);
    padding:60px 30px;
}

/* LEFT NAV */
.nav-card{
    background:#eeeeee;
    border-radius:20px;
    padding:35px 25px;
    position:sticky;
    top:100px;
}

/* NAV ITEMS */
.chapter-nav a{
    display:block;
    text-decoration:none;
    background:#dfe3e8;
    padding:14px 22px;
    border-radius:40px;
    margin-bottom:15px;
    color:#555;
    font-weight:500;
    transition:all .3s ease;
}
.chapter-nav a.active{
    background: var(--primary-color-1);
    color: var(--bg-primary);
}
.chapter-nav a:hover{
    background: var(--primary-color-1-hover);
    color: var(--bg-primary);
}

/* RIGHT CONTENT */
.section{
    padding-bottom:10px;
}
.section h2{
    color: var(--primary-color-1);
    text-align: center;
    font-weight:700;
    margin-bottom:20px;
}
.section p{
    color:#666;
    line-height:1.7;
}
.section img{
    width:50%;
    border-radius:15px;
    margin:25px 0;
}
.image-row {
  display: flex;
  gap: 15px; 
  flex-wrap: wrap;
}

.image-row img {
  width: calc(50% - 7.5px); 
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}
.image-row img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* SUMMARY LINE */
.summary{
    font-weight:600;
    color:#333;
}

/* DOTTED DIVIDER */

.divider{
    border-top:3px dotted #bdbdbd;
    margin:60px 0;
}

/* RESPONSIVE */

@media(max-width:992px){
    .nav-card{
        top:80px;
        padding:20px;
    }
    .chapter-nav a{
        padding:10px 16px;
        font-size:14px;
    }
    .image-row {
        flex-direction: column;
    }

    .image-row img {
        width: 100%;
    }
}

@media(max-width:768px){
    .nav-card{
        padding: 60px 20px;
        position:relative;
        top:0;
        margin-bottom:25px;
        overflow-x:auto;
        white-space:nowrap;
    }
    .chapter-nav{
        display:flex;
        gap:10px;
    }
    .chapter-nav a{
        display:inline-block;
        margin:0;
    }
}
