html{
scroll-behavior:smooth;
}

.story-section{
    position: relative;
    top: var(--relative-top);
width:100%;
padding:60px 0;
}

/* MAIN LAYOUT */

.story-container{
display:flex;
gap:40px;
max-width:1200px;
margin:auto;
}

/* LEFT 40% */

.left-panel{
width:40%;
}

/* RIGHT 60% */

.right-panel{
width:60%;
}

/* STICKY CARD */

.sticky-card{
position:sticky;
top:120px;

background:#f1f1f1;
padding:40px;
border-radius:20px;

border:2px solid #dc2626;

display:flex;
flex-direction:column;
gap:20px;
}

/* NAV BUTTONS */

.nav-pill{
    cursor:pointer;
    padding:14px 20px;
    border-radius:40px;
    background:#d6dce3;
    text-decoration:none;
    color:#555;
    font-weight:500;
    transition:all 0.3s ease;
}

.nav-pill:hover{
background:#dc2626;
color:white;
transform:translateX(6px);
}

.nav-pill.active{
background:#dc2626;
color:white;
}

/* CONTENT */

.content-block{
margin-bottom:40px;
}

.content-block h2{
font-weight:700;
margin-bottom:15px;
}
/* IMAGE */

.content-img{
width:100%;
border-radius:12px;
margin:20px 0;
}
/* DIVIDER */

.divider{
border-top:3px dotted #9aa0a6;
margin:50px 0;
}

/* Closing line */

.closing-line{
font-weight:600;
color:#444;
}

/* PROGRESS LINE */

.progress-line{
position:absolute;
left:25px;
top:20px;
width:4px;
height:90%;
background:#e5e7eb;
border-radius:10px;
}

.progress-fill{
width:100%;
height:0%;
background:#dc2626;
border-radius:10px;
transition:height 0.2s ease;
}

/* sticky card relative */

.sticky-card{
position:sticky;
top:120px;
background:#f1f1f1;
padding:40px;
border-radius:20px;
border:2px solid #dc2626;
display:flex;
flex-direction:column;
gap:20px;

position:sticky;
}

/* nav alignment */

.nav-pill{
padding-left:40px;
}

/* MOBILE */

@media(max-width:900px){

.story-container{
flex-direction:column;
}

.left-panel,
.right-panel{
width:100%;
}

.sticky-card{
position:relative;
flex-direction:row;
overflow-x:auto;
}

}